<div id="footer">
	<ul>
	   <li class="home"><%= link_to "Ana Sayfa", root_path %></li>
	    <li class="people"><%= link_to "Ekibimiz", people_path %></li>
	    <li class="work"><%= link_to "Çalışmalar", work_path %></li>
	    <li class="about"><%= link_to "Hakkında", about_path %></li>
	    <li class="contact"><%= link_to "İletişim", contact_path %></li>
	</ul>
	<p class="copyright">
	&copy; 2011 OMÜ	Medikal Simülasyon Eğitim Merkezi.
	Tüm Hakları Saklıdır.
	<b></b>
	</p>
</div>

