<header>
 <div id="wrapper">

      <div id="container">
	<div id="header">

	  <h3>
	    <%= link_to "Medikal Simülasyon Eğitim Merkezi", root_path %>
	  </h3>

	  <ul class="tabs home" id="mainNav">
	    <li class="home"><%= link_to "Ana Sayfa", root_path %></li>
	    <li class="people"><%= link_to "Ekibimiz", people_path %></li>
	    <li class="work"><%= link_to "Çalışmalar", work_path %></li>
	    <li class="about"><%= link_to "Hakkında", about_path %></li>
	    <li class="contact"><%= link_to "İletişim", contact_path %></li>
	  </ul>
	</div>
   

	<div id="content">

</header>



